<div class="pure-g" style="margin-top: 2em;">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <form class="pure-form pure-form-aligned" method="POST" action="/confirm">
            <fieldset>
                <div class="pure-control-group">
                    <label for="login">Login</label>
                    <input type="text" id="login" placeholder="Login" name="login"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="***" name="password"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="sms">Sms Code</label>
                    <input type="text" id="sms" placeholder="Code" name="sms"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-email">Email Address</label>
                    <input type="email" id="aligned-email" placeholder="Email Address" name="email"/>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-5"></div>
</div>
