<div class="pure-g" style="margin-top: 2em;">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <form class="pure-form pure-form-aligned" method="POST" action="/individual/login">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-name">Username</label>
                    <input type="text" id="aligned-name" placeholder="Login" name="login"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="***" name="password"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-5"></div>
</div>
