<div class="pure-g" style="margin-top: 2em;">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <form class="pure-form pure-form-aligned" method="POST" action="/registration">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-foo">Personal ID</label>
                    <input type="text" id="aligned-foo" placeholder="Enter something here..." name="id"/>
                </div>
                <div class="pure-controls">
                    <label for="aligned-cb" class="pure-checkbox">
                        <input type="checkbox" id="aligned-cb" name="resident" checked/> I'm a resident</label>
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-5"></div>
</div>
