<div class="pure-g nav">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
        <div class="pure-menu pure-menu-horizontal box">
            <a href="/" class="pure-menu-heading pure-menu-link">
                <img src="/logo.svg" alt="Alfa Api Demo">
            </a>
            <ul class="pure-menu-list end">
                {{#if debug}}<li class="pure-menu-item"><sapn class="pure-menu-link" style="color: brown;">Debug</sapn></li>{{/if}}
                {{#if token}}
                <li class="pure-menu-item">
                    <a href="/token" class="pure-menu-link" style="color: darkolivegreen;">Token</a>
                </li>
                <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="pure-u-1-6"></div>
</div>
