<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/alfa-favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="pure-g" style="margin-top: 1em;">
      <div class="pure-u-1-5"></div>
      <div class="pure-u-3-5">
        <ul class="flashes">
          {{#each flash}}
            <li>{{this.message}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="pure-u-1-5"></div>
    </div>
    {{{body}}}
  </body>
</html>
